In [4]:
import pandas as pd

In [27]:
df = pd.read_csv('2019/3_2019_Australian Grand Prix_data.csv')

In [28]:
df.shape

(29, 38)

In [29]:
df.head()

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,DeletedReason,FastF1Generated,IsAccurate,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:34:16.110000,RIC,3,0 days 00:02:28.213000,1.0,1.0,NaN,0 days 00:35:30.863000,NaN,0 days 00:00:28.939000,...,NaN,False,False,23.7,70.3,1015.4,False,43.6,176,1.4
1,0 days 00:36:16.132000,RIC,3,0 days 00:01:38.185000,2.0,2.0,0 days 00:36:04.147000,NaN,0 days 00:00:36.939000,0 days 00:00:24.241000,...,NaN,False,False,23.6,70.1,1015.3,False,43.3,191,1.3
2,0 days 00:38:16.346000,RIC,3,0 days 00:01:32.091000,3.0,2.0,NaN,NaN,0 days 00:00:30.864000,0 days 00:00:24.154000,...,NaN,False,True,23.6,70.3,1015.4,False,43.4,194,0.8
3,0 days 00:39:16.170000,RIC,3,0 days 00:01:30.480000,4.0,2.0,NaN,NaN,0 days 00:00:30.192000,0 days 00:00:24.106000,...,NaN,False,True,23.7,69.1,1015.3,False,43.4,328,1.8
4,0 days 00:41:16.345000,RIC,3,0 days 00:01:30.631000,5.0,2.0,NaN,NaN,0 days 00:00:30.460000,0 days 00:00:24.066000,...,NaN,False,True,23.6,69.4,1015.3,False,43.0,184,1.6

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 38 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Time                29 non-null     object
 1   Driver              29 non-null     object
 2   DriverNumber        29 non-null     int64
 3   LapTime             28 non-null     object
 4   LapNumber           29 non-null     float64
 5   Stint               29 non-null     float64
 6   PitOutTime          1 non-null      object
 7   PitInTime           2 non-null      object
 8   Sector1Time         28 non-null     object
 9   Sector2Time         29 non-null     object
 10  Sector3Time         28 non-null     object
 11  Sector1SessionTime  28 non-null     object
 12  Sector2SessionTime  29 non-null     object
 13  Sector3SessionTime  28 non-null     object
 14  SpeedI1             22 non-null     float64
 15  SpeedI2             28 non-null     float64
 16  SpeedFL             27 non-null     float64
 17  SpeedST             23 non-null     float64
 18  IsPersonalBest      29 non-null     bool
 19  Compound            29 non-null     object
 20  TyreLife            29 non-null     float64
 21  FreshTyre           29 non-null     bool
 22  Team                29 non-null     object
 23  LapStartTime        29 non-null     object
 24  LapStartDate        29 non-null     object
 25  TrackStatus         29 non-null     int64
 26  Position            29 non-null     float64
 27  Deleted             29 non-null     bool
 28  DeletedReason       0 non-null      float64
 29  FastF1Generated     29 non-null     bool
 30  IsAccurate          29 non-null     bool
 31  AirTemp             29 non-null     float64
 32  Humidity            29 non-null     float64
 33  Pressure            29 non-null     float64
 34  Rainfall            29 non-null     bool
 35  TrackTemp           29 non-null     float64
 36  WindDirection       29 non-null     int64
 37  WindSpeed           29 non-null     float64
dtypes: bool(6), float64(14), int64(3), object(15)
memory usage: 7.5+ KB

In [13]:
df_null = df.isnull()
df_null.head()

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,Circuit_Name,Circuit_Corners,Circuit_Rotation,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,False,False,False,False,False,False,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
df_null.sum()

Time                      0
Driver                    0
DriverNumber              0
LapTime                 285
LapNumber                 0
Stint                     0
PitOutTime            23018
PitInTime             22987
Sector1Time             454
Sector2Time              41
Sector3Time              44
Sector1SessionTime      508
Sector2SessionTime       41
Sector3SessionTime       44
SpeedI1                3306
SpeedI2                  94
SpeedFL                 745
SpeedST                1803
IsPersonalBest           27
Compound                  0
TyreLife                  0
FreshTyre                 0
Team                      0
LapStartTime              0
LapStartDate             27
TrackStatus              27
Position                 27
Deleted                   0
DeletedReason         23662
FastF1Generated           0
IsAccurate                0
Circuit_Name              0
Circuit_Corners           0
Circuit_Rotation          0
AirTemp                   0
Humidity                  0
Pressure                  0
Rainfall                  0
TrackTemp                 0
WindDirection             0
WindSpeed                 0
dtype: int64

In [15]:
df.describe(include="object")

,Time,Driver,LapTime,PitOutTime,PitInTime,Sector1Time,Sector2Time,Sector3Time,Sector1SessionTime,Sector2SessionTime,Sector3SessionTime,IsPersonalBest,Compound,Team,LapStartTime,LapStartDate,DeletedReason,Circuit_Name
count,23677,23677,23392,659,690,23223,23636,23633,23169,23636,23633,23650,23677,23677,23677,23650,15,23677
unique,1888,20,18140,658,690,13020,13711,14059,23131,23589,23585,2,5,10,23250,23251,2,21
top,0 days 01:51:32.730000,HAM,0 days 00:01:23.948000,0 days 01:29:16.671000,0 days 01:29:16.003000,0 days 00:00:28.850000,0 days 00:00:29.486000,0 days 00:00:21.162000,0 days 01:50:53.483000,0 days 00:56:03.977000,0 days 00:39:15.942000,False,MEDIUM,Mercedes,0 days 00:33:32.727000,2019-03-17 05:13:33.030,TRACK LIMITS AT TURN 19,Monaco Grand Prix
freq,25,1263,6,2,1,12,9,11,3,2,2,18695,9201,2499,20,20,13,1490